<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Turma</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='turmas_id.css') }}">
</head>
<body>
    <h1>Detalhes da Turma</h1>

    <section class="container">
        <p><strong>ID:</strong> {{ turma.id }}</p>
        <p><strong>Descrição:</strong> {{ turma.descricao }}</p>
        <p><strong>Professor ID:</strong> {{ turma.professor_id }}</p>  
        <p><strong>Status:</strong> {{ 'Ativo' if turma.status else 'Inativo' }}</p>
        <h2>Professor</h2>
        <p><strong>ID:</strong> {{ turma.professor.id }}</p>
        <p><strong>Nome:</strong> {{ turma.professor.nome }}</p>
        <p><strong>Idade:</strong> {{ turma.professor.idade }}</p>
        <p><strong>Matéria:</strong> {{ turma.professor.materia }}</p>
        <p><strong>Observações:</strong> {{ turma.professor.observacoes }}</p>

        <a href="/turmas/{{ turma.id }}/atualizar"><button>Editar Turma</button></a>
        <form action="/turmas/{{ turma.id }}" method="POST" onsubmit="return confirmDelete(this);">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Excluir Turma</button>
        </form>
        
        <a href="/turmas"><button>Voltar para a lista de turmas</button></a>
    </section>
    

    <script>
        function confirmDelete(form) {
            if (confirm("Tem certeza que deseja excluir esta turma?")) {
                fetch(form.action, {
                    method: "POST",
                    body: new URLSearchParams(new FormData(form))
                })
                .then(response => {
                    if (response.ok) {
                        window.location.href = "/turmas";  // Redireciona para a lista de turmas após a exclusão
                    } else {
                        alert("Erro ao excluir a turma: " + response.statusText);
                    }
                })
                .catch(error => {
                    console.error('Erro:', error);
                });
                return false;  // Impede o envio normal do formulário
            }
            return false;  // Cancela a exclusão se o usuário não confirmar
        }
    </script>
</body>
</html>
