<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial da Escola API</title>
</head>
<body>
    <h1>Bem-vindo à Escola API!</h1>
    <h2>Professores</h2>
    <ul>
        {% for professor in professores %}
            <li>{{ professor.nome }} - {{ professor.materia }}</li>
        {% else %}
            <li>Nenhum professor encontrado.</li>
        {% endfor %}
    </ul>

    <h2>Turmas</h2>
    <ul>
        {% for turma in turmas %}
            <li>{{ turma.descricao }}</li>
        {% else %}
            <li>Nenhuma turma encontrada.</li>
        {% endfor %}
    </ul>

    <h2>Alunos</h2>
    <ul>
        {% for aluno in alunos %}
            <li>{{ aluno.nome }} - {{ aluno.idade }} anos</li>
        {% else %}
            <li>Nenhum aluno encontrado.</li>
        {% endfor %}
    </ul>
</body>
</html>
